<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>291923004811-4aelokph98bm2br6kg7oopflfmt9iq72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291923004811-4aelokph98bm2br6kg7oopflfmt9iq72</string>
	<key>API_KEY</key>
	<string>AIzaSyCH6_ies7BdWXRWwWFrlV9rEoO8FJ5SWiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>291923004811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeeshan.monash.ChatFlix</string>
	<key>PROJECT_ID</key>
	<string>chatflix-ff3f1</string>
	<key>STORAGE_BUCKET</key>
	<string>chatflix-ff3f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291923004811:ios:fdd3cbc398227ec2</string>
	<key>DATABASE_URL</key>
	<string>https://chatflix-ff3f1.firebaseio.com</string>
</dict>
</plist>